/* Header */
header{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    /* position: relative; */
}
header div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* position: absolute; */
}

#logo{
    background-image: url(./marvel.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
}

#target{
    width: 40%;
    position: relative;
}

#target a{
    color: red;
    font-size: 2rem;
    text-decoration: none;
    position: absolute;
    right: 30;
}

#search-div{
    width: 30%;
    position: relative;
}

#search-div i{
    padding: 10px;
    background-color: white;
}
#search-bar{
    padding: 10px;
    width: 300px;
}



/* body */

body{
    margin: 0;
}

img{
    height: 250px;
    width: 250px;
    /* margin: 35px; */
}

#container{
    display: flex;
    height: auto;
    width: 100vw;
    border: 1px solid black;
    /* overflow: hidden; */
    flex-wrap: wrap;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: white;
}


.characters{
    position: relative;
    border: 1px solid black;
    margin: 35px;
    background-color: black;
}

.fav{
    display: flex;
    height: 30px;
    width: 30px;
    position: absolute;
    /* margin: 35px; */
    right: 7;
    bottom: 7;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    color: white;
    font-size: 1.5rem;
}



.fav-clicked{
    color: red;
}

.hide{
    display: none;
}

.characters:hover{
    translate: 0 -10px;
}