/* Header */
header{
    height: 20vh;
    display: flex;
    justify-content: space-between;
    background-color: black;
}
header div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#target a{
    color: red;
    font-size: 2rem;
    text-decoration: none;
    position: absolute;
    right: 450;
}


#logo{
    background-image: url(./marvel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 200px;
}

#search-div{
    margin-right: 70px;
}

#search-div i{
    padding: 10px;
}
#search-bar{
    padding: 10px;
    width: 300px;
}



/* body */

body{
    margin: 0;
}

img{
    height: 250px;
    width: 250px;
    margin: 35px;
}

#container{
    display: flex;
    height: auto;
    width: 100vw;
    border: 1px solid black;
    /* overflow: hidden; */
    flex-wrap: wrap;
    justify-content: space-around;
}

.characters{
    position: relative;
}

.fav{
    display: flex;
    height: 30px;
    width: 30px;
    position: absolute;
    margin: 35px;
    right: 0;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}


.fav-clicked{
    color: red;
}

.hide{
    display: none;
}