img{
    height: 200px;
    width: 200px;
}

#container{
    display: flex;
    height: auto;
    width: 100vw;
    border: 1px solid black;
    /* overflow: hidden; */
    flex-wrap: wrap;
    justify-content: space-around;
}

.characters{
    position: relative;
}

.fav{
    display: flex;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}


.fav-clicked{
    color: red;
}